/*                                   footer                            */
footer {
  padding: 30px 0 0;
  position: relative;
  background-color: $main;
  margin-top: 100px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  @include max-991 {
    margin-top: 60px;
  }
}
.footer-logo {
  max-width: 64px;
  margin: 0 auto 30px;
  text-align: center;
}
.social-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  @include max-991 {
    gap: 15px;
  }
  div,
  a {
    font-weight: 600;
    font-size: 14px;
    color: $white;
    @include tr;
  }
  a:hover {
    color: $hover;
  }
}
.nav-foot-cont {
  text-align: start;
}
.footer-head,
.nav-foot-header {
  text-transform: capitalize;
  // white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  color: $hover;
  margin-bottom: 12px;
  text-align: start;
  text-decoration: underline;
}
.nav-foot li {
  margin-bottom: 15px;
}
.nav-foot-link {
  color: $white;
  font-size: 14px;
  font-weight: 600;
  display: inline-flex;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
  position: relative;
  align-items: center;
  gap: 8px;
  &::before {
    content: "\f053";
    font-family: "Font Awesome 6 Pro";
    font-size: 10px;
    html[dir="ltr"] & {
      transform: scaleX(-1);
    }
  }
}
.nav-foot-li .nav-foot-link:hover {
  transform: translateX(6px);
  color: $hover;
}
html[dir="rtl"] .nav-foot-li .nav-foot-link:hover {
  transform: translateX(-6px);
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.social a {
  text-decoration: none !important;
}
a.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: $white;
  transition: all 0.3s ease-in-out;
}
a.social-link:hover {
  color: $hover;
}
.copy-section {
  border-top: 4px solid #d9d9d9;
  padding: 15px 0;
}
.copy-right {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  text-align: center;
}

@media (max-width: 767px) {
  footer {
    padding: 30px 0 80px;
  }
  .social {
    margin-bottom: 30px;
  }
  .nav-foot-cont {
    text-align: start;
    padding: 0;
    margin-bottom: 20px;
  }
  .nav-foot {
    display: flex;
    flex-wrap: wrap;
  }
  .nav-foot li {
    margin: 0 0 10px;
    min-width: 50%;
  }
  .pay-footer {
    display: block;
    margin: 0 auto 20px;
  }
}
/*                                   footer                            */
