/*                          dropdown                            */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  color: $hover;
  text-align: center;
  min-width: 120px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
  border-radius: 12px;
  z-index: 300;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px 0;
  transition: all 0.3s ease-in-out;
}
.lang-ancor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
  gap: 4px;
  cursor: pointer;
  font-size: 12px;
  color: var(--sec-color);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.lang-ancor:hover {
  color: $main;
}
.dropdown-content::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  opacity: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $hover;
  padding: 5px 15px;
  text-decoration: none;
  display: block;
  font-weight: 600;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
.dropdown-content a:hover {
  color: $main;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}
.chevron-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  font-size: 12px;
  color: var(--sec-color);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.chevron-down::after,
.dropdown .hide-txt:after {
  content: "ï„‡";
  font-family: "line Awesome Free";
  font-size: 8px;
  margin-inline-start: 4px;
  font-weight: 700;
}
.chevron-down:hover {
  color: var(--main-hover);
}
/*                          dropdown                            */
/*fixed nav*/

/*fixed nav*/
/*top header*/
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  background-color: $main;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 4px 0px #00000026;
}

.top-header a {
  text-decoration: none;
}
.top-header {
  position: relative;
  background-color: $main;
}
.top-header .img-logo img {
  width: 84px;
  image-rendering: -webkit-optimize-contrast;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.big-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.big-menu a {
  color: $white;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  &:hover {
    color: $hover;
  }
  &.active {
    font-weight: 700;
    font-size: 15px;
    &::after {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $white;
    }
  }
}
.nav-head {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.hide-big {
  display: none;
}
.hide-txt {
  display: block;
}
.header-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.dropdown .add-to {
  cursor: pointer;
}
.dropdown {
  position: relative;
  font-size: 10px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 8px;
  align-items: center;
  color: $white;
  transition: all 0.3s ease-in-out;
}
.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid $white;
  padding: 2px;
  @include flexCenter;
  img {
    width: 26px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }
  i {
    font-size: 14px;
  }
}
.user-cont {
  display: flex;
  align-items: center;
  gap: 12px;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 2px;
}
.user-anc {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 600;
  font-size: 14px;
  i {
    font-size: 8px;
  }
}
.cart-icon {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  color: $white;
  @include flexCenter;
  gap: 8px;
  @include tr;
  i {
    font-size: 26px;
  }
}
.counter {
  position: absolute;
  top: -7px;
  inset-inline-start: -7px;
  width: 15px;
  height: 15px;
  @include flexCenter;
  background-color: #d43d42;
  border: 1px solid $white;
  color: var(--white-color);
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
}
.show-icons {
  display: none;
}
.show-icons a {
  font-size: 24px;
  position: relative;
  /* z-index: 300; */
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
}
.show-icons:hover a {
  color: var(--main-hover);
}
// .header-icons .add-to:hover {
//   color: var(--main-hover);
// }
.dropdown .dropdown-content {
  top: 35px;
  left: 50%;
}
.search-form {
  width: 100%;
  position: relative;
}
.search-section {
  width: 100%;
  max-width: 42%;
  position: relative;
}
.search-input {
  position: relative;
  background-color: transparent;
  max-width: 100%;
  width: 100%;
  height: 32px;
  border-radius: 5px;
  padding: 0 40px;
  padding-inline-start: 78px;
  font-size: 12px;
  color: $white;
  font-weight: 400;
  border: 1px solid $white;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.search-input:focus {
  outline: none;
  border-color: $hover;
}
.search-input::placeholder {
  color: $white;
}
.search-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-start: 20px;
  border-radius: 0;
  color: $white;
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 0;
  outline: none !important;
  transition: 0.3s;
}
.search-button:hover {
  color: $hover;
}

/*             top header     */
.upper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
.header-welcome {
  font-weight: 300;
  font-size: 12px;
  color: #1e1e1e;
}
.lang-section {
  display: flex;
  align-items: center;
  gap: 14px;
  .line {
    color: $hover;
  }
}
.upper-drop {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 300;
  font-size: 12px;
  color: $hover;
  i {
    font-size: 8px;
    &.fa-globe {
      font-size: 12px;
    }
  }
}

.menu-bar {
  display: none;
  background-color: $white;
  box-shadow: 0px 4px 4px 10px #cdcdcd29;
  max-width: 100%;
  position: fixed;
  z-index: 99;
  bottom: 20px;
  width: calc(100% - 40px);
  left: 20px;
  right: 20px;
  height: 58px;
  border-radius: 30px;
  @include max-991 {
    display: grid;
  }
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 0 30px;
  & > div {
    width: 100%;
    overflow: hidden;
    @include flexCenter;
    text-align: center;
  }
  a {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 600;
    font-size: 10px;
    color: #919191;
    @include tr;
    i {
      font-size: 20px;
    }
    &.active {
      color: $main;
    }
  }
  .cart-icon {
    height: 37px;
    width: 37px;
    border-radius: 7px;
    background-color: $main;
    @include flexCenter;
    color: $white;
    img {
      max-width: 17px;
    }
  }
}
@include min-992 {
  .upper-header .img-logo {
    display: none;
  }
}
@include max-991 {
  .search-section {
    width: 100%;
    max-width: 100%;
  }
  .big-menu,
  .header-welcome,
  .upper-header .line,
  .header-icons,
  .hide-sm {
    display: none;
  }
}
