/*           swiper section                     */
.main-slider {
  position: relative;
  overflow: hidden;
  margin-top: 30px;
}
.main,
.swiper-cont {
  position: relative;
}
.main .pro-img {
  @include flexCenter;
  overflow: hidden;
  width: 100%;
}
.main .pro-img img {
  width: 100%;
}
.main-slider .swiper-btn {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: $hover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-slider .swiper-btn:hover {
  color: $white;
}
.main-slider .swiper-btn i {
  z-index: 2;
}
.swiper-btn.swiper-btn-next {
  left: 28px;
}

.swiper-btn.swiper-btn-prev {
  right: 28px;
}

.main-slider .swiper-pagination {
  position: relative;
  top: unset;
  width: 100%;
  margin-top: 18px;
  @include flexCenter;
  gap: 6px;
}

.main-slider .swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: $main;
  opacity: 0.4;
  margin: 0;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.main-slider .swiper-pagination .swiper-pagination-bullet:hover {
  opacity: 1;
}

.main-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $hover;
  opacity: 1;
  width: 26px;
  border-radius: 5px;
}
/*                          main-slider                             */
/*                         feature section                    */
.feature-section {
  margin-top: 100px;
  @include max-991 {
    margin-top: 40px;
  }
}
.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  @include max-991 {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
.features-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.features-box i {
  font-size: 30px;
  color: $hover;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  .features-box:nth-of-type(2n) & {
    color: $main;
  }
}
.features-box .features-h {
  font-size: 16px;
  font-weight: 700;
  color: $main;
  margin-bottom: 6px;
}
.features-box .features-span {
  font-size: 14px;
  font-weight: 400;
  color: $sec;
}
.feature-section {
  position: relative;
}
/*                         feature section                    */
/*                      product-section                      */
.product-section {
  margin-top: 100px;
  @include max-991 {
    margin-top: 40px;
  }
}
.brands-slider {
  position: relative;
}
.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}
.section-title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 38px;
  color: $main;
  margin: 0;
  @include max-991 {
    font-size: 20px;
  }
}
.products-link {
  color: $main;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  border: 1px solid $main;
  background-color: $white;
  @include flexCenter;
  width: 162px;
  height: 52px;
  border-radius: 12px;
  &:hover {
    color: $white;
    background-color: $hover;
  }
  @include max-991 {
    width: 132px;
    height: 40px;
    font-size: 14px;
  }
}
.grid-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  @include max-991 {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.product-item {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: $white;
}
.product-img {
  @include flexCenter;
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 5px;
}
.product-img img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s ease-in-out;
}
.product-item:hover .product-img img {
  transform: scale(1.05);
}
.product-item .product-content {
  padding: 8px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.product-item .product-name {
  color: $hover;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
  overflow: hidden;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: all 0.4s ease-in-out;
  @include max-991 {
    font-size: 16px;
  }
}
.product-item .product-name:hover {
  color: $hover;
}
.price-box {
  color: #ef4444;
  font-size: 15px;
  font-weight: 700;
  @include max-991 {
    font-size: 14px;
  }
}
.product-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 15px;
  color: $white;
  margin-bottom: 14px;
  i.active {
    color: #ffc600;
  }
}
.stars {
  // --rating: 4.5;
  --star-size: 15px;
  --star-color: #ccc;
  --star-background: #ffc600;
  font-size: var(--star-size);
  font-family: "Font Awesome 6 Pro";
  line-height: 1;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 2px;
}

.stars::before {
  content: "";
  font-family: "Font Awesome 6 Pro";
  letter-spacing: 3px;
  background: linear-gradient(
    270deg,
    var(--star-background) calc(var(--rating) / 5 * 100%),
    var(--star-color) calc(var(--rating) / 5 * 100%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product-slider .swiper-btn {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 50%;
  width: 35px;
  height: 35px;
  background-color: #2c2e431a;
  transform: translateY(-50%);
  font-size: 12px;
  color: $main;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
  @include min-992 {
    @include flexCenter;
  }
}
.product-slider {
  position: relative;
  .swiper-btn.swiper-btn-next {
    left: -28px;
  }

  .swiper-btn.swiper-btn-prev {
    right: -28px;
  }
}

.product-slider .swiper-btn:hover {
  color: $white;
  background-color: $hover;
}
.product-slider .swiper-btn i {
  z-index: 2;
}

.product-slider .swiper-pagination {
  position: relative;
  top: unset;
  width: 100%;
  margin-top: 18px;
  gap: 6px;
  display: none;
  @include max-991 {
    @include flexCenter;
  }
}

.product-slider .swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: $main;
  opacity: 0.4;
  margin: 0;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.product-slider .swiper-pagination .swiper-pagination-bullet:hover {
  opacity: 1;
}

.product-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $hover;
  opacity: 1;
  width: 26px;
  border-radius: 5px;
}
.custom-btn {
  @include flexCenter;
  width: 162px;
  height: 52px;
  background-color: $hover;
  color: $white;
  font-weight: 600;
  font-size: 16px;
  @include tr;
  margin: 20px auto 0;
  &:hover {
    background-color: $main;
    color: $white;
  }
}
.slider-btn-cont {
  display: flex;
  align-items: center;
  gap: 8px;
  .swiper-btn {
    cursor: pointer;
    z-index: 2;
    top: 50%;
    width: 35px;
    height: 35px;
    background-color: #2c2e431a;
    font-size: 12px;
    color: $main;
    transition: all 0.3s ease-in-out;
    @include flexCenter;
    &:hover {
      background-color: $hover;
      color: $white;
    }
  }
}
.cat-section {
  margin-top: 100px;
  @include max-991 {
    margin-top: 40px;
  }
  .product-img {
    aspect-ratio: 310/234;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
/*product section */
/* big-banner section */
.big-banner-section {
  margin-top: 100px;
  @include max-991 {
    margin-top: 40px;
  }
}
.big-banner-cont {
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.big-banner-cont:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}
.big-banner-cont:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.big-banner-cont:active:after {
  opacity: 0;
}
.big-banner-cont {
  display: block;
}
.big-banner-cont img {
  width: 100%;
  max-width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.big-banner-cont:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/*                      share-section                      */
.share-section {
  text-align: center;
  margin-top: 100px;
  @include max-991 {
    margin-top: 40px;
  }
  .section-title {
    margin-bottom: 40px;
  }
}
.share-item {
  width: 100%;
  max-width: 310px;
  overflow: hidden;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0px 20px 30px 0px #00000040;
  figure {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tr;
      .share-item:hover & {
        transform: scale(1.05);
      }
    }
  }
}
/*                      share-section                      */
