.single-content {
  margin-bottom: 80px;
  @include max-767 {
    margin-bottom: 40px;
  }
}
.product-imgs-cont {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
  @include max-767 {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.product-imgs {
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
}

.single-img-container {
  width: 100%;
  position: relative;
  aspect-ratio: 500/600;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.single-img {
  @include flexCenter;
  width: 100%;
  height: 100%;
  padding: 0;
}

.single-img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-thumbs {
  width: 100%;
  overflow: hidden;
}

.thumb-cont {
  width: 100%;
  position: relative;
  aspect-ratio: 133/109;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  cursor: pointer;
  @include flexCenter;
}

.thumb-img {
  padding: 0;
  border: 2px solid transparent;
  opacity: 0.4;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  @include flexCenter;
  @include tr;
  background-color: #f5f5f5;
  .swiper-slide-thumb-active & {
    border-color: $hover;
    opacity: 1;
  }
  @include max-767 {
    padding: 8px;
  }
}
.thumb-img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.single-sale {
  position: absolute;
  position: absolute;
  top: 6px;
  inset-inline-start: 6px;
  font-size: 14px;
  color: #fff;
  background-color: #5ac855;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: auto;
  padding: 0 8px;
  height: 25px;
  line-height: 25px;
  font-weight: 700;
}
.single-info-container {
  text-align: start;
  margin-top: 22px;
}

.single-name {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 24px;
  color: $black;
}

.single-desc {
  font-size: 18px;
  color: var(--sec-color);
  margin: 0 0 9px;
}

.single-prices {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 24px;
}

.single-old-price {
  color: #7d7d7d;
  font-size: 24px;
  font-weight: 400;
  text-decoration: line-through;
}

.single-price {
  color: $hover;
  font-size: 24px;
  font-weight: 700;
}
.desc-cont {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 24px 0;
  .product-rate {
    justify-content: flex-start;
    span {
      font-size: 15px;
      font-weight: 400;
      color: $sec;
    }
  }
}
.single-pargh {
  font-weight: 400;
  font-size: 14px;
  color: $black;
  margin-bottom: 32px;
}
.check-width {
  max-width: 100%;
}
.check-label {
  /* min-width: 25%; */
  text-align: start;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  color: #3d3d3d;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}
.check-label input[type="checkbox"],
.check-label input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-label .checkmark {
  border: none;
  border-radius: 0;
  background-color: $white;
  border: 1px solid #8f8f88;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  // position: absolute;
  // inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.check-label input[type="checkbox"] ~ .checkmark {
  border-radius: 4.5px;
  width: 15.75px;
  height: 15.75px;
}
.check-label:hover input ~ .checkmark {
  background-color: $white;
  transition: all 0.3s ease-in-out;
}
.check-label input:checked ~ .checkmark {
  background-color: $hover;
}
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: visible;
}
.check-label input:checked ~ .checkmark:after {
  opacity: 1;
  visibility: visible;
}
.check-label input:checked ~ .checkmark {
  background-color: $white;
}
.check-label input:checked ~ .custom-checkmark {
  background-color: $hover;
}
.check-label .checkmark:after {
  content: "";
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: $hover;
}
.check-label .custom-checkmark:after {
  content: "\f00c";
  font-family: "Font Awesome 6 Pro";
  font-weight: bold;
  font-size: 9px;
  line-height: 14px;
  color: $white;
  border-radius: 4.5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.color-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}
.radio-head {
  font-weight: 700;
  font-size: 16px;
  color: $black;
}
.radio-group .check-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
label input[type="checkbox"],
.check-label input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.color-group .check-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}
.color-group .check-label input:checked ~ .checkmark {
  &::after {
    display: none;
  }
}
.color-group .check-label {
  border-radius: 50%;
}
.color-group .check-label:has(input:checked) {
  border: 2px solid #000000;
  // padding: 2px;
}
.radio-group .check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 100%;
  height: 32px;
  width: 32px;
  font-size: 14px;
  font-weight: 500;
  color: $black;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #00000080;
  @include tr;
}
.radio-group .check-label:has(input:checked) {
  border-color: $hover;
  color: $white;
  background-color: $hover;
}
.tax-hint {
  font-size: 14px;
  font-weight: 500;
  color: #37ab24;
  margin-top: 3px;
}

.single-options {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 65px;
  @include max-767 {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.single-item-qty {
  width: 100%;
  position: relative;
  max-width: 178px;
  height: 56px;
  border-radius: 25px;
  overflow: hidden;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  @include max-767 {
    &.item-qty {
      width: 100%;
      max-width: 100%;
    }
  }
}
.qty-input {
  width: 100%;
  height: 100%;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-size: 20px;
  color: $black;
  font-weight: 500;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.single-qty-control {
  position: absolute;
  height: 100%;
  width: 50px;
  font-size: 20px;
  color: var(--qty-color);
  @include flexCenter;
  @include tr;
  text-decoration: none;
}

.single-qty-control:hover {
  color: var(--main-color);
  text-decoration: none;
}

.single-qty-control:focus {
  text-decoration: none;
}

.single-qty-control.qty-plus {
  inset-inline-start: 0;
  background-color: $hover;
  color: $white;
  border-radius: 0px 25px 25px 0px;
  &:hover {
    background-color: $main;
  }
}

.single-qty-control.qty-minus {
  inset-inline-end: 0;
  border-radius: 25px 0px 0px 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: $main;
    color: $white;
  }
  @include max-767 {
    border-radius: 25px 0px 0px 25px;
  }
}
.item-request,
.item-addToCart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 162px;
  font-size: 16px;
  font-weight: 400;
  color: $main;
  background-color: transparent;
  height: 52px;
  border-radius: 12px;
  border: 1px solid $main;
  transition: all 0.3s ease-in-out;
  @include max-767 {
    max-width: 100%;
  }
}
.item-request:hover,
.item-request:focus,
.item-addToCart:hover,
.item-addToCart:focus {
  color: #fff;
  text-decoration: none;
  background-color: $hover;
}
.single-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  .features-box {
    border: 1px solid #e9e9e9;
    padding: 16px;
    border-radius: 8px;
    flex-direction: row;
    text-align: start;
    gap: 16px;
    i {
      font-size: 20px;
      margin: 0;
    }
    .features-h {
      font-weight: 400;
      font-size: 16px;
    }
  }
  @include max-767 {
    grid-template-columns: repeat(1, 1fr);
  }
}
