//  colors

:root {
  --main-color: #2C2E43;
  --main-hover: #B61A20;
  --sec-color: #8C8C8C;
  --text-color: #DDD9D4;
  --black-color: #000;
  --white-color: #fff;
  --border-color: #f0f0f0;

  --border-radius: 24px;
  font-size: 16px;
}

$main: var(--main-color);
$hover: var(--main-hover);
$sec: var(--sec-color);
$text: var(--text-color);
$black: var(--black-color);
$white: var(--white-color);

$border: var(--border-color);

$radius: var(--border-radius);
